h1 
{
    font-family: 'Dancing Script', cursive;
    color: #ff0d05;
    font-size: 50px;
    text-align: center;
}

table 
{
    width: 100%;
}

td,th 
{
    font-family: 'Roboto', sans-serif;
    border: 1px solid;
    text-align: center;
    padding: 15px;
    font-size: 30px;
}

tr
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}



td:nth-child(-n + 1) 
{
    background-color: #f0ec067e;
}

td:nth-child(2n) 
{
    background-color: #09ff0059;
}


td:nth-child(2n + 3) 
{
    background-color: #f0ec067e;
}

.Rosso{
    background-color: cyan;
    border-radius: 50px;
    border: solid red 10px;
}

.contorno{
    border-radius: 50px;
    background-color: white;
    background-color: orange;
    border: solid white 10px;
    font-weight: bold;
}

p{
    font: 30px;
    color: white;
}

.colore{
    color: red;
    font-weight: bold;
}